# Q1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system'
with open("test.txt",'x') as f:
    f.write(test1)

In [4]:
with open('test.txt') as f:
    print(f.read())

This is a test of the emergency text system

# Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open('test.txt') as f:
    test2 = f.read()
print(test2)

This is a test of the emergency text system

# Q3. Create a CSV file called books.csv by using these lines:
# title,author,year  
# The Weirdstone of Brisingamen,Alan Garner,1960  
# Perdido Street Station,China Miéville,2000  
# Thud!,Terry Pratchett,2005  
# The Spellman Files,Lisa Lutz,2007  
# Small Gods,Terry Pratchett,1992

In [9]:
import csv
f = open("test.csv",'w')


data = """title,author,year  
The Weirdstone of Brisingamen,Alan Garner,1960  
Perdido Street Station,China Miéville,2000  
Thud!,Terry Pratchett,2005  
The Spellman Files,Lisa Lutz,2007  
Small Gods,Terry Pratchett,1992"""

f.write(data)
f.close()

# Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [10]:
import sqlite3

conn = sqlite3.connect('books.db')

conn.execute('''CREATE TABLE books
         (title TEXT ,
         author  TEXT ,
         year   INT 
            );''')
print( "Table created successfully")

conn.close()

Table created successfully

# Q5. Read books.csv and insert its data into the book table.

In [11]:
import pandas as pd
df  = pd.read_csv('test.csv')
df.head()

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner    1960
1         Perdido Street Station   China Miéville    2000
2                          Thud!  Terry Pratchett    2005
3             The Spellman Files        Lisa Lutz    2007
4                     Small Gods  Terry Pratchett    1992

In [12]:
import sqlite3
#Creating a connection with object
conn = sqlite3.connect('books.db')
for i in df.values:

    conn.execute("""INSERT INTO books (title,author,year) VALUES (?,?,?)""",(i[0],i[1],i[2]))

conn.commit()
print("Records created successfully")
cursor = conn.execute("SELECT * from books")
for row in cursor:
    print(row)
conn.close()

Records created successfully
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

# Q6. Select and print the title column from the book table in alphabetical order.

In [13]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.execute("""Select title
                 from books
                 order by
                 title ASC;""")

for row in cursor:
    print(row)
conn.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

# Q7. From the book table, select and print all columns in the order of publication.

In [14]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.execute("""Select *
                 from books
                 order by
                 year ASC;""")

for row in cursor:
    print(row)
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [16]:
!python3 -m pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.41-cp38-cp38-macosx_10_15_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 7.1 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.3-cp38-cp38-macosx_10_15_x86_64.whl (93 kB)
     |████████████████████████████████| 93 kB 5.1 MB/s  eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.3 sqlalchemy-1.4.41

In [19]:
import sqlalchemy as db
engine = db.create_engine('sqlite:///books.db')
connection = engine.connect()
metadata = db.MetaData()


shows = db.Table('books', metadata, autoload=True, autoload_with=engine)

query = db.select([shows])

result_proxy = connection.execute(query)

result_set = result_proxy.fetchall()

print(result_set)

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

# Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [ ]:
!pip install redis

In [8]:
import redis
test_client = redis.Redis()
# test_client.delete('test')
test_client.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
test_client.hgetall('test')

/var/folders/p9/l1bq6_wx6gv1fpgvxw27wxyc0000gn/T/ipykernel_89885/1133478683.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  test_client.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

# Q10. Increment the count field of test and print it.

In [16]:
test_client.hincrby('test','count', 10)
# test_client.decr
test_client.hgetall('test')

{b'count': b'14', b'name': b'Fester Bestertester'}